#home-button{
    text-align: -webkit-right;
    font-family: 'Open Sans', sans-serif;
    }

.mid-section{
    display: flex;
    gap: 2px;
    font-weight: 400;
    font-size:16px;
    justify-content: center;
    align-items: center;

    }

.nav, .client  .section-Title {
    display: flex;
    justify-content: space-evenly;
    }


.mid-section > p{
    color: #18191F;
    gap: 10px;
    font-size: 16px;
    padding: 25px;
    font-weight: 400;
    line-height: 24px;
    }
.hero-section{
    display: flex;
    justify-content: space-evenly;
    }

.hero-section> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;
    }

.Our-clients .description .section-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}


#client-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    color: #717171;
    display:flex;
    height: 24px
    }

.clients-logos  {
    display: flex;
    justify-content: space-evenly;
}


.manage-your-community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manage-your-community > p{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0;
}

.our-community-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-content: center;

}

.community{
    display: flex;
    justify-content: center;
    height: 120px;
}
#who-is-next-cent{
    width: 980px;
    height: 24px;
    justify-content: center;
}

.Our-client-heading{
    text-align: center;
}

.new{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-sider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.footer-sider > p{
    display: block;
}
input::placeholder{
    color: white;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background: #515b60;
}
.image{
    position: relative;
    left: 205px;
    top: -27px;
}
.member2{
    display: flex;
    align-items: center;
    gap: 20px
}
.section3{
    display: flex;
    gap: 40px;
    padding: 10%;
}
.footer{
    background: #263238;
    padding: 4% 0;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;

}
.section2{
    display: flex;
    gap: 40px;
    padding: 10%;
}
.section4{
    display: flex;
    gap: 40px;
    padding: 10%;
}
@media only screen and (max-width: 728px) {
    .nav {
        display: none;
    }

    .hero-section > img {
        display: none;
    }

    .member2 {
        flex-direction: column;
    }

    .section3 {
        flex-direction: column;
    }

    .section2 > img {
        display: none;
    }

    .section4 > img {
        display: none;
    }

    .footer-sider {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .input {
        width: 70%;
    }

    .image {
        left: -31px;
        top: 4px;
    }
}
