#home-button{
    text-align: -webkit-right;
    font-family: 'Open Sans', sans-serif;
    }

.mid-section{
    display: flex;
    gap: 2px;
    font-weight: 400;
    font-size:16px;
    justify-content: center;
    align-items: center;

    }

.nav, .client  .section-Title {
    display: flex;
    justify-content: space-evenly;
    }


.mid-section > p{
    color: #18191F;
    gap: 10px;
    font-size: 16px;
    padding: 25px;
    font-weight: 400;
    line-height: 24px;
    }
.hero-section{
    display: flex;
    justify-content: space-evenly;
    }

.hero-section> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;
    }

.Our-clients .description .section-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}


#client-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    color: #717171;
    display:flex;
    height: 24px
    }

.clients-logos  {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    width: 1240px;
}

.our-community-section-title{
    padding-left: 20px;
    padding-right: 20px;

}

#manage-your-community{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color:#4D4D4D;
    display: flex;
    justify-content: center;
}

.our-community-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-content: center;

}

.community{
    display: flex;
    justify-content: center;
    height: 120px;
}
#who-is-next-cent{
    width: 980px;
    height: 24px;
    justify-content: center;
}
